
*.pt
*.pth
# anything in the folders : datasets , runs
runs/
*.lnk
*.ps1
*.docx



# for debugging purposes , remove files from ( test_imgs , test_videos ) folders
test_imgs/
test_videos/
models_configs/
models_checkpoints/
```